@import '_var.scss';


/* For loading */
.gnb-wrap .page-padding {
    transform: translate3d(0, -100px, 0);
    transition: transform 1.5s cubic-bezier(0.5, 0, 0, 1) 1s;
}
.gnb-wrap .float-download {
transform: translate3d(0, 120px, 0);
transition: transform 1.5s cubic-bezier(0.5, 0, 0, 1) 1s;
}
.h1-title {
transform: translate3d(0, 90%, 0);
transition: transform 1.5s cubic-bezier(0.22, 1, 0.36, 1) .5s;
}
.title-desc-wrap { opacity: 0; transition: opacity 0.5s linear .8s; }
.section-header {
transform: scale3d(1.15, 1.15, 1.15);
transition: transform 1.5s cubic-bezier(0.5, 0, 0, 1) 0.1s;
}

body.before-load {overflow: hidden;}

/* For loading Finish */
body.loaded { overflow: auto; }
body.loaded .section-header { transform: scale3d(1, 1, 1); }
body.loaded .gnb-wrap .page-padding { transform: translate3d(0, 0, 0); }
body.loaded .gnb-wrap .float-download { transform: translate3d(0, 0, 0); }
body.loaded .h1-title { transform: translate3d(0, 0, 0); }
body.loaded .title-desc-wrap { opacity: 1; }

/* LoadWrap */
body.before-load #LoadWrap{
    position: fixed; 
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: 1000;
    background-color: #000;
    height: 100vh;
    white-space: nowrap;
}
#LoadWrap .load-text{
    display: 'block';
    font-family: Musinsaot, sans-serif;
    line-height: 1;
    color: #fff; text-align: center;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
#LoadWrap .load-text.big{font-size: 75px; opacity: 0;}
#LoadWrap .load-text.small{font-size: 50px; }
#LoadWrap span{ color: #BDFF00; display: inline-block;}

#LoadWrap .load-text.small.load span:nth-child(1){ animation: ani_load_text 1.5s ease 0s infinite; }
#LoadWrap .load-text.small.load span:nth-child(2){ animation: ani_load_text 1.5s ease 0.15s infinite; }
#LoadWrap .load-text.small.load span:nth-child(3){ animation: ani_load_text 1.5s ease 0.3s infinite; }
@keyframes ani_load_text {
    0%{ opacity: 1;}
    50%{ opacity: 0;}
    100%{ opacity: 1;}
}

#LoadWrap .overlay {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    z-index: 10;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

/* 상세 */
.winner_rich { word-break: keep-all; }
.winner_pan{
    max-height:1140px;
    height: calc(100vh - 110px);
}
.winner_g-arr{ pointer-events: none; }
.winner_g-arr > div{ pointer-events: auto; }
.btn_g-l, .btn_g-r{ cursor: pointer; }
@keyframes loader-ani {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

/* 상세로더 */
.loader-wrapper {
    display: none; justify-content: center; align-items: center;
    position: fixed; left: 0; top: 0; width: 100vw; height: 100vh;
    z-index: 1000; display: none; transition: 0.5s;
}
.loader-wrapper.show { display: flex; }
.loader-wrapper .loader {
    width: 60px; height: 60px;
    border: 4px solid #222;
    border-color: #BDFF00 transparent transparent;
    border-radius: 50%;
    animation: loader-ani 1s infinite linear;
}