@import '_var.scss';

:root{ --vh: 1vh;}

html{
    /* 롱터치시 팝업이나 액션시트가 나타나지 않게 설정 */
    -webkit-touch-callout: none; 
    /* 터치시 선택 영역 색상 조절 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

a { color: inherit; text-decoration: none; } /* 링크 태그 리셋 */
.is-hide { display: none; }
.is-overflow-hidden{ overflow: hidden; }
.is-visibility-hidden{ visibility: hidden; }
.is-ellipsis{                               
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;         /* 3줄 이상 말 줄임표 넣기 */
    -webkit-box-orient: vertical;
}
.ally{ position: absolute; opacity: 0; }



.noresize { resize: none; /* 사용자 임의 변경 불가 */ }
.contact_submit_finish{ 
    width: calc(100% - 10px); 
    height: calc(100% - 15px);
    pointer-events: none;
}
.hide{ display: none; }
a{ color: inherit;}
img{ vertical-align: top; }

/* 상단 비주얼 */
.billboard > div.billboard-img-wrap:nth-child(1) { z-index: 2;}
.billboard > div.billboard-img-wrap:not(:first-child) { z-index: 1;}

/* 상단 로고 & gnb */
.logo-musinsapartners{ fill: #BDFF00; }
.gnb-wrap.black .logo-musinsapartners{ fill: black; }
.gnb-wrap.white .logo-musinsapartners.white{ fill: white; }
.gnb-wrap.black .navi_item{ color: #000 }

/* 다운로드 버튼 */
.ic-download{ width: 198px; height: 50px; border: 1px solid #BDFF00; border-radius: 6px; color:#BDFF00; font-size: 16px; }
.ic-download svg{ margin-left: 15px; top: 10px; position: relative;} 
.float-download.mode-fill .ic-download_floor,
.float-download.mode-fill .ic-download_arrow{stroke: #BDFF00; transition: 200ms cubic-bezier(0.76, 0.00, 0.24, 1.00);}
.float-download.mode-fill .ic-download { background-color: #BDFF00; color:#000000; transition: 200ms cubic-bezier(0.76, 0.00, 0.24, 1.00);}
.float-download.mode-fill .ic-download_floor,
.float-download.mode-fill .ic-download_arrow{stroke: #000000; transition: 200ms cubic-bezier(0.76, 0.00, 0.24, 1.00);}

.btn_download .ic-download .ic-download_arrow{
    animation: ani_arrMove 1s infinite;
}
@keyframes ani_arrMove {
    0%{ transform: translate3d(0,0,0); animation-timing-function: cubic-bezier(0.4,0,0.4,1);}
    35%{ transform: translate3d(0,-5px,0); animation-timing-function: cubic-bezier(0.7,0,0.1,1);}
    84%{ transform: translate3d(0,0,0);}
    100%{ transform: translate3d(0,0,0);}
}

.txt_email-underline,
.map_txt-item_t3 { cursor: pointer }

/* 마스킹 애니메이션 */
/* .section-desc .desc_info-txt_strong::before{
    content: '투자연계형 패션 브랜드 지원 사업';
    position: absolute;
    z-index: 2;
    width: 315px;
    height: 100%;
    color: #000;
    font-family: inherit;
    font-weight: inherit;
    background-color: hsla(76, 100%, 50%, 1);
    overflow: hidden;
} */

#textMasking{
    position: absolute; left: 180px; top: 5px;
    width: 316px; height: 36px; z-index: 2; 
}

/* 선발기업리스트 오버 */

.winner-link .winner-hover-color{ 
		mix-blend-mode : color;
    /*transition: 0.15s ease-out;*/
}

/* .winner-link .winner-img_wrap{ transition: transform .2s ease-out; } */
.winner-link:hover .winner-hover-color{ 
	opacity: 1; 
}
/*.winner-link:hover .winner-img_wrap{
   transform: scale(1.07);
   transition: transform 2s ease-out;
}*/


/* 정보제공 ul 리스트 dot */
.info-txt_list_item::before{
		content: '';
    background-color: white;
    width:6px; height: 6px; border-radius: 3px;
    display: inline-block;
    margin-right: 15px;
}
.info-txt_list_item.is-black::before{
		content: '';
    background-color: black;
    width:6px; height: 6px; border-radius: 3px;
    display: inline-block;
    margin-right: 15px;
}

/* 지도 */
.map-txt-wrap{ pointer-events: none; }
.map-txt-wrap .map_txt-block{ pointer-events: auto; }